<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEW ROOM</title>
</head>
<body>
    <h1> NEW ROOM </h1>
    <form action="/room" method="POST">
        <div>
            <label for="roomName">Room Name: </label>
            <input id="roomName" type="text" name="roomName" placeholder="roomName">
        </div>
        
        <button type="submit"> Submit </button>
    </form>
    <a href="/home">Home ...</a>
</body>
</html>