<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGISTER</title>
</head>
<body>
    <h1> REGISTER PAGE </h1>
    <form action="/register" method="POST">
        <div>
            <label for="firstname">First Name : </label>
            <input id="firstname" type="text" name="firstName" placeholder="firstname">
        </div>
        <div>
            <label for="lastname"> Last Name :</label>
            <input id="lastname" type="text" name="lastName" placeholder="lastname">
        </div>
        <div>
            <label for="emailID"> E-Mail Address :</label>
            <input id="emailID" type="text" name="emailID" placeholder="your email ID">
        </div>
        <div>
            <label for="username">Username :</label>
            <input id="username" type="text" name="username" placeholder="username">
        </div>
        <div>
            <label for="password">Password :</label>
            <input id="password" type="password" name="password" placeholder="password">
        </div>
        
        <button type="submit"> Submit </button>
    </form>
    <a href="/login">LOGIN HERE ...</a>
</body>
</html>